.container{
    background-color: black;
}

#h2{
    font-display: red;
}

div{
    background-color: black;
}

.navbar{
    background-color: black;
}

.title{
    color: chartreuse;
}

.h-100{
    color: rgb(255, 0, 0);
}

